@charset "UTF-8";
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: #ffffff;
	margin: 0;
	padding: 0;
	color: #000;
}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { 	padding: 0;	margin: 0; }
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 
	padding-right: 15px;
	padding-left: 15px; 
}
a img {	border: none; }

a:link {	color: #42413C;  	text-decoration: underline;  	}
a:visited {	color: #6E6C64;		text-decoration: underline;		}
a:hover, a:active, a:focus { 	text-decoration: none;			}

/* frame around all items */
.container {	
	float: left;
	width: 640px;	
	margin:0px 128px 0px 128px; 
	background: #ffffff;	
}

/* content is a column of rows */ 
.header, .subCont, .rowbox {
	margin: 0px; 
	padding: 0px; 	
}


.subPic {
   margin: 0% 0% 0% 0%;
   padding: 0px;
   background: #f0f0f0;
}
/* margin args: top right bottom left */

.left {
   float: left;
   width: 128px;
   height: 128px;
   margin: 0% 0% 0% 0%;
   padding: 0%;
   
   color: #000000;
}

.right {
   width: 446px;
   height: 96px;
   margin: 16px 32px 16px 32px;
   float: right;
   padding: 0%;
   
   color: #000000;
}

/* these are used in the prints page; allows a dowuble-row of icons */

.right2 {
    width: 320px;
   height: 96px;
   margin: 16px 32px 16px 32px;
   float: right;
}

.left2 {
	margin: 0% 0% 0% 0%;
   width: 256px;
   height: 96px;
   float: left;
}


.cardRight {
    width: 510px;
   height: 512px;
   margin: 0px 0px 0px 0px;
   float: right;
}

.cardLeft {
	margin: 0% 0% 0% 0%;
   width: 128px;
   height: 512px;
   float: left;
}

.clear {
   height: 0;
   font-size: 1px;
   margin: 0;
   padding: 0;
   line-height: 0;
   clear: both;
}



.container2 {
	float: center;
	width: 800px;	
	margin:2px 2px 2px 2px; 
	background: #ffffff;	
}

.rowbox2 {
	width: 0px;	
	margin:4px 2px 4px 2px; 
	background: #ffffff;	
}








